.medicalRecordArea {
	padding: 20px;
}

.topBar {
	padding-bottom: 10px;
}

.medicalRecordIdContainer {
	display: inline-block;
	width: 100px;
}

.page {
	box-shadow: 0 0 6px black;
	min-height: 29.7cm;
	background-color: white;
}

.topBarButtonImage {
	height: 35px;
	width: 35px;
}

.topBarButton {
	background-color: white;
    margin-right: 5px;
    border-radius: 7px;
}

.topBarButton:active {
	background-color: rgb(120, 120, 120);
}


.column {
	padding: 10pt;
}

.fieldContainer {
	padding-right: 200px;
}

* {
	box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
